/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
		url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

html,
body {
	font-family: 'Montserrat', 'Noto Sans KR', AppleGothic, sans-serif;
	font-size: 100%;
	color: #202020;
}
body {
	line-height: 1;
	position: relative;
}

ol,
ul {
	list-style: none;
}

p,
ul,
figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 700;
	color: #000;
	margin: 0;
}

button,
textarea,
input,
select {
	font-family: inherit;
	color: inherit;
	padding: 0;
}

button {
	border: 0;
	cursor: pointer;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
}

.container-full {
	width: 100%;
	position: relative;
}
#content-wrap {
	padding-top: 123px;
}

@media (max-width: 1199px) {
	#content-wrap {
		padding-top: 70px;
	}
	.container {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}

.in_header {
	width: 100%;
	height: 123px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: #fff;
	transition: 0.3s ease;
}
.in_header .logo {
	display: inline-block;
	width: 194px;
}
.in_header .logo.light {
	display: none;
}
header .nav .nav-icon,
.in_header .navbar > li .sub-menu {
	display: none;
}
header .nav .nav-icon:after,
header .nav .nav-icon:before,
header .nav .nav-icon div {
	background-color: #000;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	height: 4px;
	margin: 6px 0;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

header .nav .nav-icon:before {
	margin-top: 0;
}

header .nav .nav-icon:after {
	margin-bottom: 0;
}

header .nav .nav-icon.active:before {
	transform: translateY(10px) rotate(135deg);
	-moz-transform: translateY(10px) rotate(135deg);
	-webkit-transform: translateY(10px) rotate(135deg);
}

header .nav .nav-icon.active:after {
	transform: translateY(-10px) rotate(-135deg);
	-moz-transform: translateY(-10px) rotate(-135deg);
	-webkit-transform: translateY(-10px) rotate(-135deg);
}

header .nav .nav-icon.active div {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.story_wrap .in_header {
	background: rgba(0, 0, 0, 0.7);
}
.story_wrap header .nav .nav-icon:after,
.story_wrap header .nav .nav-icon:before,
.story_wrap header .nav .nav-icon div {
	background-color: #fff;
}

@media (min-width: 1200px) {
	.sub-bg {
		display: none;
		width: 100%;
		height: 157px;
		position: absolute;
		top: 123px;
		left: 0;
		background: url(../images/menu-bg.jpg) repeat-x top left;
		background-color: #f8f8f8;
	}
	.in_header .topbar {
		text-align: right;
		padding-top: 18px;
	}
	.in_header .topbar li {
		display: inline-block;
		font-size: 0.75rem;
		font-weight: 300;
		color: #8b8b8b;
	}
	.in_header .topbar li:after {
		display: inline-block;
		width: 1px;
		height: 10px;
		margin: 14px;
		vertical-align: middle;
		background: #e0e0e0;
		content: '';
	}
	.in_header .topbar li:nth-child(3) {
		margin-right: 15px;
	}
	.in_header .topbar li:nth-child(3):after,
	.in_header .topbar .sns:after {
		display: none;
	}
	.in_header .topbar .sns {
		margin: 0 3px;
		font-size: 0;
		vertical-align: middle;
	}
	.in_header .topbar .sns.f a:before {
		content: url(../images/facebook.jpg);
	}
	.in_header .topbar .sns.i a:before {
		content: url(../images/insta.jpg);
	}
	.in_header .nav_wrap {
		margin-top: -20px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.in_header .navbar {
		margin: 0 -39px;

		z-index: 99;
	}
	.in_header .navbar > li {
		display: inline-block;
		padding: 0 39px;
		list-style: none;
		font-size: 0.937rem;
	}
	.in_header .navbar > li:after {
		display: block;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid;
		border-color: red transparent transparent transparent;
	}
	.in_header .navbar > li > a {
		position: relative;
	}
	.in_header .navbar > li .sub-menu {
		width: 14.285%;
		padding-top: 40px;
		position: absolute;
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s, opacity 0.5s linear;
	}
	.in_header .navbar > li .sub-menu li {
		list-style: none;
		color: #202020;
		font-weight: 300;
		font-size: 0.937rem;
		line-height: 1.8;
	}
	.in_header .navbar > li:hover .sub-menu {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.in_header .navbar > li .sub-menu li:hover {
		font-weight: 700;
	}
	.in_header .navbar > li.menu-item:hover > a {
		position: relative;
	}
	.in_header .navbar > li.menu-item:hover > a:before {
		display: block;
		width: 0;
		height: 0;
		border: 13px solid;
		border-color: #fff transparent transparent transparent;
		position: absolute;
		left: 50%;
		top: 38px;
		transform: translateX(-50%);
		content: '';
	}
	.in_header .navbar > li:last-child.menu-item:hover > a:before {
		display: none;
	}
	.story_wrap .sub-bg {
		background: rgba(0, 0, 0, 0.7);
		border-color: #ffe600;
	}

	.story_wrap .in_header .navbar > li:hover,
	.story_wrap .in_header .navbar > li .sub-menu li:hover {
		color: #ffe600;
	}

	.story_wrap .in_header .logo,
	.story_wrap .in_header .navbar > li:hover > a:before {
		display: none;
	}
	.story_wrap .in_header .logo.light {
		display: block;
	}
}
@media (max-width: 1199px) {
	header .nav .nav-icon {
		display: inline;
		width: 30px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;
	}

	header .nav .navbar {
		position: fixed;
		width: 70%;
		height: 100%;
		top: 70px;
		right: -70%;
		z-index: 99;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		margin: 0;
	}

	header .nav .navbar.active {
		right: 0;
		width: 648px;
	}

	header .nav .navbar li a {
		display: block;
		width: 100%;
		padding: 0 20px;
		color: #000;
	}

	header .nav .navbar li {
		float: none;
		margin-right: 0;
		line-height: 3em;
		font-size: 1rem;
		border-bottom: 1px solid #e5e5e5;
	}
	header .nav .navbar > li {
		font-size: 1.2rem;
	}
	.in_header .navbar > li .sub-menu {
		padding-left: 10px;
		background: #fff;
	}
	.in_header .navbar > li .sub-menu li {
		border-bottom: 1px solid #e5e5e5;
	}
	.in_header .navbar > li .sub-menu li:last-child {
		border-bottom: 0;
	}
	.in_header {
		height: 70px;
		display: table;
	}
	.in_header > .container {
		display: table-cell;
		vertical-align: middle;
	}
	.in_header .nav_wrap {
		position: relative;
	}
	.in_header .topbar {
		display: none;
	}
	.in_header .logo img {
		width: 50%;
	}
}
.mob {
	display: none;
	position: fixed;
	background: #fafafa;
	right: 0;
	top: 70px;
	width: 70%;
	height: 100%;
	z-index: 999;
}
.gnb_mob {
	display: block;
	width: 100%;
}
.gnb_mob > li {
	line-height: 3em;
	font-size: 1rem;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.2rem;
	cursor: pointer;
}
.gnb_mob > li > a {
	font-weight: 500;
	transition: all 0.5s ease;
	padding: 0 20px;
}

.sub-list {
	display: none;
	width: 100%;
	padding-left: 10px;
	background: #fff;
	margin-right: 0;
	line-height: 3em;
	font-size: 1rem;
}
.sub-list > li {
	border-bottom: 1px solid #e5e5e5;
}
.sub-list > li:last-child {
	border: none;
}
.sub-list > li > a {
	width: 100%;
	color: #2f2f2f;
	transition: all 0.5s ease;
	padding: 0 20px;
}

/* footer */
footer {
	border-top: 3px solid;
}
.in_footer {
	padding: 30px 0;
	text-align: center;
	color: #262626;
	position: relative;
}
.in_footer .company_info {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 0.812rem;
}
.in_footer .company_info li {
	display: inline-block;
	list-style: none;
	line-height: 1.7;
}
.in_footer .company_info li:after {
	padding: 0 14px;
	content: 'l';
}
.in_footer .company_info li:last-child:after {
	display: none;
}
.in_footer .copyright {
	margin-top: 2rem;
}
.in_footer .r_box {
	width: 100%;
	max-width: 175px;
	position: absolute;
	top: 30px;
	right: 0;
	font-size: 0.75rem;
}
.in_footer .family_site {
	width: 100%;
	padding: 5px 7px;
	margin-bottom: 25px;
	border: 1px solid #262626;
	position: relative;
	cursor: pointer;
	text-align: left;
	-webkit-appearance: menulist-button;
}
.in_footer .family_site #fmenu {
	display: none;
	padding: 0 5px;
	position: absolute;
	bottom: 28px;
	left: -1px;
	right: 0;
	background: #fff;
	border: 1px solid #262626;
	width: 175px;
}

.in_footer .family_site #fmenu li {
	padding: 7px 0;
}

.in_footer .family_site #fmenu li > a {
	display: block;
}

.in_footer .coupon {
	text-align: right;
}
.in_footer .coupon span {
	margin-right: 5px;
}
.in_footer .logo {
	display: inline-block;
	width: 179px;
}
.in_footer .logo.light {
	display: none;
}
body * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img {
	vertical-align: middle;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
p {
	line-height: 150%;
}
img {
	max-width: 100%;
}
table {
	border-collapse: collapse;
}
em {
	font-style: normal;
	font-weight: 700;
}
.container.space {
	padding-left: 45px;
	margin-top: 20px;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}
.font-eb {
	font-weight: 800;
}
.font-bl {
	font-weight: 900;
}
.font-2 {
	font-family: 'Nanum Myeongjo', sans-serif;
}
/* .color-1{color:#0e347e;} */
.color-1 {
	color: #071f60;
}
.color-2 {
	color: #6b4d30;
}
.color-3 {
	color: #ffe600;
}
.text-center {
	text-align: center;
}
.btn {
	display: block;
	text-align: center;
}
.btn.st-1 {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-shadow: 3px 0 11px rgba(138, 138, 138, 0.2);
	-webkit-box-shadow: 3px 0 11px rgba(138, 138, 138, 0.2);
	overflow: hidden;
	background: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease;
	position: relative;
}
.btn.st-1 span,
.btn.st-1 span:after {
	display: inline-block;
	width: 20px;
	height: 3px;
	background: #080406;
}
.btn.st-1 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	opacity: 1;
	transition: all 0.3s ease;
}
.btn.st-1 span:after {
	transform: rotate(90deg) translateX(0px);
	content: '';
}
.btn.st-1:hover span {
	opacity: 0;
	transform: translate(-50%, -50%) rotate(180deg);
}
.btn.st-1:hover {
	background-image: url(../images/main_sec6.png);
	background-position: center;
}
.btn.st-2 {
	padding: 16.5px 0;
	background: #0e347e;
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: -0.25px;
}
.btn.st-3 {
	padding: 15.5px 0;
	background: #ffe600;
	color: #0e347e;
	font-size: 1.25rem;
}
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.2;
	z-index: 999;
	display: none;
}
.to_top {
	display: none;
	position: fixed;
	right: 10%;
	bottom: 10%;
	width: 40px;
	z-index: 1000;
}

.to_top:hover a {
	background-color: #14254f;
	color: #fede22;
}

.to_top a {
	display: block;
	height: 40px;
	background-color: #fede22;
	color: #14254f;
	text-align: center;
	font-size: 10px;
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.to_top a span {
	display: block;
	font-size: 8px;
}

@media screen and (max-width: 1110px) {
	.to_top {
		right: 5%;
	}
}
@media screen and (max-width: 800px) {
	.in_footer .r_box {
		display: none;
	}
	.in_footer .company_info {
		font-size: 1rem;
	}
	.in_footer .company_info li {
		display: block;
	}
	.in_footer .company_info li:after {
		display: none;
	}
}

/* main */
.slides {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slides > .slides-auto {
	display: block;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: 70px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background-image: url(./../images/icons.png);
	background-position: -62px -24px;
}

.slides > .slides-auto.pause {
	background-position: 0 -57px;
}

.slides > .slides-container {
	position: relative;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 400%;
}

.slides > .slides-container > li {
	width: 25%;
}

.slides > .slides-container > li > a {
	display: block;
}

.slides > .slides-container > li > a > img {
	display: block;
	width: 100%;
	height: auto;
	background: center/ cover no-repeat;
}

.slides > .slides-pagination {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 20px;
	width: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slides > .slides-pagination > li {
	width: 10px;
	border-radius: 100%;
	background-color: #fff;
}

.slides > .slides-pagination > li:hover {
	background-color: #fede22;
}

.slides > .slides-pagination > li > a {
	display: block;
	height: 10px;
	text-indent: -9999px;
}

.slides > .slides-pagination li.on {
	background-color: #fede22;
}
.main_section .main_tit {
	font-size: 3.125rem;
	text-transform: uppercase;
	-webkit-margin-before: 0;
}
.main_section .main_tit span {
	font-size: 1.375rem;
	text-transform: none;
}
.main_section .main_tit2 {
	margin-bottom: 0.7rem;
	text-transform: uppercase;
	font-size: 2.187rem;
}
.main_section .sub_tit {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	line-height: 130%;
}
.main_section p.desc {
	color: #2c2525;
}
.main_sec.row-3 .grid_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main_sec,
.main_sec .grid_wrap > div {
	position: relative;
	overflow: hidden;
}
.main_sec > .container,
.main_sec .grid_wrap .inner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.main_sec > img,
.main_sec .grid_wrap > div > img {
	width: 100%;
	transform: scale(1, 1);
	transition: 0.8s ease;
}
.main_sec:hover > img,
.main_sec .grid_wrap > div:hover > img {
	transform: scale(1.05, 1.05);
}
.main_sec img.m_ver {
	display: none;
}
.main_sec .grid_wrap {
	margin: 0 -5px;
}
.main_sec .grid_wrap > div {
	margin: 0 5px 10px;
}
.main_sec .grid_wrap .m10-col-6 {
	width: calc(60% - 10px);
}
.main_sec .grid_wrap .m10-col-4 {
	width: calc(40% - 10px);
}
.main_sec .main_tit:after {
	display: block;
	width: 37px;
	height: 2px;
	margin: 28px 0;
	background: #7f5b39;
	content: '';
}
.main_sec.row-1 {
	height: 230px;
	margin-bottom: 5px;
	background: url(../images/main_sec1.jpg) no-repeat center;
}
.main_sec.row-1 .main_tit {
	margin-bottom: 0.3rem;
	font-size: 3.125rem;
}
.main_sec.row-1 .main_tit span {
	display: inline-block;
	color: #564e00;
	font-size: 1rem;
}
.main_sec.row-1 .main_tit:after {
	display: none;
}
.main_sec.row-1 .sub_tit {
	margin-bottom: 0.5rem;
	font-size: 1.466rem;
}
.main_sec.row-1 p {
	margin-bottom: 1.5rem;
	font-size: 0.937rem;
}
.main_sec.row-1 p.m_ver {
	display: none;
}
.main_sec.row-2 .container {
	padding: 81px 0 40px 45px;
}
.main_sec.row-2 p.desc {
	margin-bottom: 4rem;
}
.main_sec.row-2 .btn.st-1 {
	position: absolute;
	left: 45px;
	bottom: 40px;
}
.main_sec.row-3 {
	margin-top: 10px;
}
.main_sec.row-3 .inner {
	padding-top: 79px;
}

.main_sec.row-3 .m10-col-6 .inner .main_tit {
	color: #071f60;
}

.main_sec.row-3 .m10-col-4 .inner .main_tit {
	color: #f1ae1d;
}

.main_sec.row-3 .m10-col-6 .inner .main_tit:after {
	background: #071f60;
}
.main_sec.row-3 .m10-col-4 .inner .main_tit:after {
	background: #f1ae1d;
}
.main_sec.row-3 .m10-col-6 .inner {
	width: 63%;
	float: right;
	left: inherit;
	right: 0;
	transform: none;
}
.main_sec.row-3 .m10-col-4 .inner {
	padding-left: 45px;
}

.main_sec.row-3 .inner .btn.st-1 {
	position: absolute;
	left: 0;
	bottom: 50px;
}
.main_sec.row-3 .m10-col-4 .btn.st-1 {
	left: 45px;
}
.main_sec.row-4 .l_box {
	width: calc(47% - 10px);
}
.main_sec.row-4 .r_box {
	width: calc(53% - 10px);
	float: right;
}

.main_sec.row-4 .l_inner {
	float: right;
	width: 100%;
	max-width: 504px;
	height: 291px;
	padding: 48px 42px 37px 42px;
	margin-bottom: 10px;
	border: 2px solid #071f60;
	position: relative;
}
.main_sec.row-4 .l_inner:last-child {
	margin-bottom: 0;
	background: url(../images/main_sec6.png) no-repeat bottom right;
	background-size: 248px 243px;
}
.main_sec.row-4 .l_inner .btn.st-1 {
	transition: none;
	background-image: url(../images/store-ico.png);
	background-size: 23px 21px;
}
.main_sec.row-4 .l_inner .btn.st-1:hover {
	background-image: url(../images/store2.jpg);
	background-size: contain;
}
.main_sec.row-4 .l_inner .store_search,
.main_sec.row-4 .l_inner .btn.st-1 {
	position: absolute;
	left: 42px;
	bottom: 37px;
}
.main_sec.row-4 .l_inner .store_search {
	width: 100%;
	max-width: 326px;
}
.main_sec.row-4 .l_inner .store_search input {
	width: 100%;
	height: 40px;
	padding: 0 18px;
	border: 2px solid #071f60;
	font-size: 0.812rem;
}
.main_sec.row-4 .l_inner .store_search input::placeholder {
	color: rgba(14, 52, 126, 0.5);
}
.main_sec.row-4 .l_inner .store_search input::-webkit-input-placeholder {
	color: rgba(14, 52, 126, 0.5);
}
.main_sec.row-4 .l_inner .store_search input:-moz-placeholder {
	color: rgba(14, 52, 126, 0.5);
}
.main_sec.row-4 .l_inner .store_search input::-moz-placeholder {
	color: rgba(14, 52, 126, 0.5);
}
.main_sec.row-4 .l_inner .store_search input:-ms-input-placeholder {
	color: rgba(14, 52, 126, 0.5);
}
.main_sec.row-4 .l_inner .store_search .ok {
	border: 0;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 5px;
	background: transparent;
	transform: translateY(-50%);
}
.main_sec.row-4 .l_inner .store_search .ok > img {
	width: 23px;
}
.main_sec.row-4 .r_box .inner {
	padding: 80px 45px 40px 45px;
}
.main_sec.row-4 .r_box .inner {
	padding: 80px 45px 40px 45px;
}
/* .main_sec.row-4 .r_box .main_tit{margin-bottom:0;color:#b47c55;} */
.main_sec.row-4 .r_box .main_tit {
	margin-bottom: 0;
	color: #ffffff;
}
.main_sec.row-4 .r_box .main_tit + .sub_tit {
	color: #fff;
}
.main_sec.row-4 .r_box .main_tit:after {
	background: #fff;
	content: '';
}
.main_sec.row-4 .r_box .btn.st-1 {
	position: absolute;
	left: 45px;
	bottom: 40px;
}
.main_sec.row-4 .l_inner p {
	font-size: 0.937rem;
}
.main_sec .sns_section {
	padding: 60px 0;
}
.main_sec .sns_section .font-2 {
	margin-bottom: 0.5rem;
	font-size: 1.437rem;
	font-weight: 800;
	letter-spacing: 3px;
}
.main_sec .sns_section .tag span {
	margin: 0 6px 0;
	color: #999;
}
.main_sec .sns_section .tag:after {
	display: block;
	width: 50px;
	height: 1px;
	margin: 30px auto;
	background: #0e347e;
	content: '';
}
.main_sec .sns_section .sns_ico {
	text-align: center;
	margin-top: 30px;
}
.main_sec .sns_section .sns_ico li {
	display: inline-block;
	width: 32px;
	margin: 0 9px 0;
	list-style: none;
}
@media screen and (max-width: 1400px) {
	.main_sec.row-2 .container,
	.main_sec.row-3 .inner,
	.main_sec.row-4 .r_box .inner {
		padding-top: 30px;
	}
	.main_section .btn.st-1 {
		float: right;
	}
	.main_sec.row-2 .btn.st-1,
	.main_sec.row-3 .inner .btn.st-1,
	.main_sec.row-4 .r_box .btn.st-1 {
		left: initial;
		right: 22px;
	}
	.main_sec.row-2 .btn.st-1 {
		right: 0;
	}
}
@media screen and (max-width: 1199px) {
	.main_sec.row-2 .btn.st-1 {
		right: 10px;
	}
}
@media screen and (max-width: 1024px) {
	.grid_wrap > * {
		width: calc(100% - 26px);
	}
	.container.space {
		padding-left: 12px;
		padding-right: 12px;
	}
	.main_section p.desc {
		display: none;
	}
	.main_sec .container:after {
		display: block;
		clear: both;
		content: '';
	}
	.main_sec.row-2 .container {
		padding: 40px 12px 0;
	}
	.main_sec.row-3 .inner .btn.st-1 {
		bottom: 40px;
	}
	.main_sec.row-4 .l_box,
	.main_sec.row-4 .r_box {
		width: calc(100% - 10px);
	}
	.main_sec.row-4 .l_box {
		padding: 10px;
	}
	.main_sec.row-3 .m10-col-6 .inner,
	.main_sec.row-3 .m10-col-4 .inner,
	.main_sec.row-4 .r_box .inner {
		float: inherit;
		width: 100%;
		padding: 40px 12px 0;
	}
	.main_sec.row-4 .l_inner {
		width: calc(50% - 10px);
		margin: 0 5px;
	}
	.main_sec .sns_section .feed_box ul li {
		width: calc(50% - 9px);
	}
}
@media screen and (max-width: 1023px) {
	#pageload img {
		width: 50%;
	}
	.container.space {
		padding: 0 10px;
	}
	.main_section .main_tit {
		font-size: 2rem;
	}
	.main_sec .main_tit:after {
		margin: 14px 0;
	}

	.main_sec.row-1 {
		height: 285px;
		background-size: cover;
	}
	.main_sec img.m_ver {
		display: block;
	}
	.main_sec img.pc_ver {
		display: none;
	}
	.main_sec .grid_wrap .m10-col-6,
	.main_sec .grid_wrap .m10-col-4 {
		width: 100%;
	}
	.main_sec.row-3 .m10-col-6 .inner {
		padding-top: 30px;
	}
	.main_sec.row-4 .r_box {
		float: inherit;
	}
	.main_sec.row-4 .r_box .inner {
		min-height: auto;
	}
	.main_sec.row-4 .l_inner {
		padding: 10px 10px 20px 10px;
	}
	.main_sec.row-4 .l_inner .store_search {
		width: calc(100% - 20px);
		left: 10px;
	}
	.main_sec.row-4 .l_inner .btn.st-1 {
		left: 10px;
	}
	.main_sec.row-4 .l_inner .main_tit2 {
		word-break: break-word;
	}
	.main_sec.row-4 .r_box .btn.st-1 {
		right: 10px;
	}
}
@media screen and (max-width: 767px) {
	.main_sec.row-1 .main_tit,
	.main_section .main_tit {
		font-size: 1.3rem;
	}
	.main_sec .main_tit:after {
		margin: 10px 0;
	}
	.main_sec.row-1 p.pc_ver {
		display: none;
	}
	.main_sec.row-1 p.m_ver {
		display: block;
	}
	.main_sec.row-2 .container {
		padding-top: 10px;
	}
	.main_sec.row-1 .btn.st-1,
	.main_sec.row-2 .btn.st-1,
	.main_sec.row-3 .inner .btn.st-1,
	.main_sec.row-4 .r_box .btn.st-1 {
		bottom: 10px;
	}
	.main_sec.row-1 {
		height: 150px;
	}
	.main_section .sub_tit {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.main_sec.row-4 .l_inner {
		height: 240px;
	}
	.main_sec.row-4 .l_inner:last-child {
		background-size: contain;
	}
	.main_sec.row-4 .l_inner .main_tit2 {
		font-size: 1.3rem;
	}
	.main_sec.row-4 .l_inner .store_search input::placeholder {
		color: transparent;
	}
}
